@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

label,input {
  display: inline-block;
}

label {
  font-size: 24px;
  padding: 10px;

}